/* 
Color Scheme: 
- dark red: #5d001e
- gray: #e3e2df
- dark red: #e3afbc
- dark red: #9a1750
- dark red: #ee4c7c
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.App {
  font-family: "Roboto Slab", serif;
  text-align: center;
  background-color: #e3e2df;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.App-header {
  background-color: #5d001e;
  color: white;
  font-size: 4em;
  margin-top: 0;
  padding: 30px 0;
  max-width: 1240px;
  width: 100vw;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100vw;
  border-bottom: 3px solid #5d001e;
}

#search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rebeccapurple;
  max-width: 500px;
  width: 60vw;
}
